<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões devem estar aqui, fora da tag <application> -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" android:maxSdkVersion="29" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoriaViva2"
        android:requestLegacyExternalStorage="true"
    tools:targetApi="30">

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDNGeIoIsUR403m-ledQYOjLUSn59SXs4Q" />

    <!-- Activity Principal (LAUNCHER) -->
    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:launchMode="singleTop"> <!-- singleTop é uma boa escolha aqui -->
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- Activity de Registro -->
    <activity
        android:name=".RegistrationActivity"
        android:exported="false"
        android:label="Cadastro do Paciente"
        android:parentActivityName=".MainActivity">

    </activity>

    <!-- Atividades Recreativas -->
    <activity android:name=".ui.recreativa.FraseDiaActivity" android:exported="false" />
    <activity android:name=".ui.recreativa.JogoMemoriaActivity" android:exported="false" />
    <activity android:name=".ui.recreativa.QuizImagensActivity" android:exported="false" />
    <activity android:name=".ui.recreativa.RespiracaoActivity" android:exported="false" />
    <activity android:name=".ui.recreativa.AlongamentoActivity" android:exported="false" />
    <activity android:name=".ui.recreativa.AlbumMemoriasActivity" android:exported="false" />

    <!-- Receivers -->
    <receiver android:name=".NotificationReceiver" />
    <receiver android:name=".ui.medications.MedicationAlarmReceiver" android:exported="false" />

</application>
    </manifest>
